.header {
  background-color: skyblue;
  padding: 5px 5px;
  color: white;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 10vh;
}

.header:after {
  content: "";
  display: table;
  clear: both;
  padding: 5px 5px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 auto;
  width: 262px;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: skyblue;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: skyblue;
}

ul li.checked {
  margin: 0 auto;
  width: 262px;
  background: skyblue;
  color: green;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: green;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  color: red;
}

.close:hover {
  color: white;
}

input {
  margin: 10px 0px 10px 0;
  border: none;
  border-radius: 10px;
  width: 215px;
  padding: 10px;
  float: left;
  font-size: 16px;
  cursor: pointer;
}

.addBtn {
  margin: 10px 0px 10px 0;
  padding: 10px;
  width: 15%;
  background: #2980B9;
  color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 10px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #1abc9c;
}

